<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>查重，查重！ -- 冷知识 i konw</title>
    <meta name="description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta name="keywords" content="知识,冷知识,冷知识语录,无用,有趣,冷知识大全">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta property="og:title" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta property="og:url" content="https://8zt.cc/">
    <meta property="og:image" content="https://8zt.cc/icon.png">
    <meta property="og:site_name" content="冷知识 i know - 吹牛逼不冷场，无用但有趣的冷知识！">
    <meta property="og:description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">

    <!--    <link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>

</head>
<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        vertical-align: middle;
    }
    .top-wrap{
        position: fixed;
        top: 0;
        padding: 10px 20px;
        width: 100%;
        left: 0;
        background: #fff;
        z-index: 999
    }
    .main-sentence{
        padding-top: 70px;
        box-sizing: border-box;
    }
    .main-wrapper{
        height: auto;
    }
</style>
<body>

<div class="main-wrapper" >
    <div class="top-wrap" >
        <div class="container">
            <div class="row" >
                <div class="col">
                    <a href="/"><img src="static/picture/logo.png" alt="冷知识 i konw" title="冷知识 i konw"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-sentence justify-content-center ">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3 class="panel-title">结果</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th width="60%" class="text-center">内容</th>
                            <th width="15%" class="text-center">创建时间</th>
                            <th width="10%" class="text-center">相似度</th>
                            <th width="15%" class="text-center">操作</th>
                        </tr>
                    </thead>
                    {volist name="info" id="vo"}
                    <tr>
                        <td>
                            <input type="hidden" class="row_id" value="{$vo.row_id}">
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="{$vo.old_id}"> {$vo.old_content}
                                </label>
                            </div>
                            <div class="custom-radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="{$vo.new_id}"> {$vo.new_content}
                                </label>
                            </div>
                        </td>
                        <td>
                            <span style="display: block;" class="font-weight-bold">{$vo.old_create}</span>
                            <span class="font-weight-bold">{$vo.new_create}</span>
                        </td>
                        <td class="text-center">
                            <span style="display: block;" class="font-weight-bold">{$vo.ratio}</span>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-link delete">删除</button>
                            <button type="button" class="btn btn-link compare_error">分析错误</button>
                        </td>
                    </tr>

                    {/volist}
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.delete').click(function () {
            let check_row_id = $(this).parents('tr').find('input[name="optionsRadios"]:checked').val();
            if(check_row_id == undefined){
                return false;
            }
            layer.load(2, {
                shade: [0.5,'#fff']
            });
            $.get('/del_repeat?row_id='+check_row_id,function (req) {
                var callingBack = '';
                if(req.code == 0){
                    callingBack = function () {
                        window.location.reload();
                    };
                }
                layer.closeAll('loading');
                layer.msg(req.msg,{time: 1000},callingBack);
            });
        });
        $('.compare_error').click(function () {
            let check_row_id = $(this).parents('tr').find('.row_id').val();
            if(check_row_id == undefined){
                return false;
            }
            layer.load(2, {
                shade: [0.5,'#fff']
            });
            $.get('/del_compare?row_id='+check_row_id,function (req) {
                var callingBack = '';
                if(req.code == 0){
                    callingBack = function () {
                        window.location.reload();
                    };
                }
                layer.closeAll('loading');
                layer.msg(req.msg,{time: 1000},callingBack);
            });
        });
    });
</script>
<script src="static/js/layer/layer.js"></script>
</body>
</html>