<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>冷知识 i konw</title>
    <meta name="description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta name="keywords" content="知识,冷知识,冷知识语录,无用,有趣,冷知识大全">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta property="og:title" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta property="og:url" content="https://8zt.cc/">
    <meta property="og:image" content="https://8zt.cc/icon.png">
    <meta property="og:site_name" content="冷知识 i know - 吹牛逼不冷场，无用但有趣的冷知识！">
    <meta property="og:description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>

</head>
<body>
<div class="top-wrap" style="position: absolute; top: 1vh;width: 100%;z-index: 999">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col">
                <a href="javascript:;"><img src="/static/picture/logo.png" alt="冷知识 i konw" title="冷知识 i konw"></a>

            </div>
        </div>
    </div>
</div>

<div class="main-wrapper" style="position: relative; top: -6vh;">
    <div class="container main-sentence justify-content-center text-center">
        <span id="sentence" style="font-size: 2rem;">人生就是六个大字，怎么着都不行。</span>
    </div>
</div>

<div class="foot-1" style="position: absolute; bottom: 7vh;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="btn btn-success btn-filled btn-xs"><a class="btn btn-success btn-filled btn-xs" href="59b9f.html">再来一条！</a></span>
                <!--
                  <button type="button" class="btn btn-success btn-xs" id="tx"><img src="/static/images/tx.png" style="width:22px;"> 有毒(4)</button>

                  <button type="button" class="btn btn-light btn-xs" id="ha"><img src="/static/images/ha.png" style="width:22px;"> 无毒(5)</button>
                  -->
                <br>
                <br>
                <div style="color:#946dff;font-weight:bold;">主人：874990975</div>
            </div>
        </div>
    </div>
</div>
<div class="text-center"><a href="javascript:;" target="_blank">豫ICP备14005038号-4</a></div>
<script>
    $('#tx').click(function(){
        var handleUrl="/dig_up.html";
        var id=82;
        $.post(handleUrl,{id:id},function(data){
            switch(data.status){
                case 1:
                    layer.msg(data.msg,{icon:6});
                    setTimeout("location.href='/soup/59b9f.html';", 1000);
                    break;
                default:
                    layer.msg(data.msg,{icon:5});
                    setTimeout("location.href='/soup/59b9f.html';", 1000);
            }
        },'json')
    });

    $('#ha').click(function(){
        var handleUrl="/dig_down.html";
        var id=82;
        $.post(handleUrl,{id:id},function(data){
            switch(data.status){
                case 1:
                    layer.msg(data.msg,{icon:6});
                    setTimeout("location.href='/soup/59b9f.html';", 1000);
                    break;
                default:
                    layer.msg(data.msg,{icon:5});
                    setTimeout("location.href='/soup/59b9f.html';", 1000);
            }
        },'json')
    });
</script>
<script src="/static/js/layer.js"></script>
</body>
</html>