<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>冷知识 i konw</title>
    <meta name="description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta name="keywords" content="知识,冷知识,冷知识语录,无用,有趣,冷知识大全">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta property="og:title" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">
    <meta property="og:url" content="https://8zt.cc/">
    <meta property="og:image" content="https://8zt.cc/icon.png">
    <meta property="og:site_name" content="冷知识 i know - 吹牛逼不冷场，无用但有趣的冷知识！">
    <meta property="og:description" content="吹牛逼不冷场，无用但有趣的冷知识！i konw">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>

</head>
<body>
<div class="top-wrap" style="position: absolute; top: 1vh;width: 100%;z-index: 999">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col">
                <a href="javascript:;"><img src="/static/picture/logo.png" alt="冷知识 i konw" title="冷知识 i konw"></a>

            </div>
        </div>
    </div>
</div>

<div class="main-wrapper" style="position: relative; top: -6vh;">
    <div class="container main-sentence justify-content-center text-center">
        <input type="hidden" id = "article-id" value="">
        <span id = "sentence" style="font-size: 2rem;"></span>
        <br>
        <br>
        <div style="display: none" id ="operates">
            <button class="btn btn-outline-primary operate" value = "1">真 <span class="real">0</span></button>
            &nbsp;
            <button class="btn btn-outline-primary operate" value = "0">假 <span class="fake">0</span></button>
        </div>
    </div>
</div>

<div class="foot-1" style="position: absolute; bottom: 7vh;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="btn btn-success btn-filled btn-xs" style="display: none" id = 'again'><a class="btn btn-success btn-filled btn-xs" href="javascript:;">再来一条！</a></span>
                <br>
                <div style="color:#946dff;font-weight:bold;">主人：874990975</div>
            </div>
        </div>
    </div>
</div>
<div class="text-center"><a href="javascript:;" target="_blank">豫ICP备14005038号-4</a></div>
<script>
    $(function () {
        getInfo();
        $('.operate').click(function () {
            var btn = $(this);
            let type = $(this).val();
            let id = $('#article-id').val();

            $.post('/article_up',{id:id,type:type},function(data){
                var callingBack = '';
                if(data.code == 0){
                    callingBack = function (data) {
                        btn.find('span').html(data.count);
                    };
                }
                layer.closeAll('loading');
                layer.msg(data.msg,{time: 1000},callingBack(data.data));
            },'json')
        });


        $('#again').click(function () {
            getInfo();
        });

        function getInfo() {
            $.get("/article_info",function(req,status){
                if(req.code == 0){
                    $('#sentence').html(req.data.content);
                    $('#article-id').val(req.data.id);
                    $('.real').html(req.data.real);
                    $('.fake').html(req.data.fake);
                    if(req.data.again == 1){
                        $('#again').show();
                        $('#operates').show();
                    } else {
                        $('#again').hide();
                        $('#operates').hide();
                    }
                } else {
                    layer.msg(req.msg);
                }
            });
        }
    });
</script>
<script src="static/js/layer/layer.js"></script>
</body>
</html>